# Segmenting and Clustering Neighbourhoods in Toronto

In [1]:
import pandas as pd
import numpy as np
import requests

#### Call the URL through requests

In [3]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)

#### Convert the HTML to Dataframe using read_html in pandas

In [4]:
wiki_html = pd.read_html(wiki_page.content, header = 0)[0]
wiki_html

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

# Filtering all non assigned ones from neighbourhoods

In [5]:
wiki_df = wiki_html[wiki_html['Neighbourhood']!='Not assigned']
wiki_df.reset_index(inplace = True)
wiki_df.head()

,index,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [6]:
wiki_df.groupby(['Postal Code']).first()

,index,Borough,Neighbourhood
Postal Code,,,
M1B,9,Scarborough,"Malvern, Rouge"
M1C,18,Scarborough,"Rouge Hill, Port Union, Highland Creek"
M1E,27,Scarborough,"Guildwood, Morningside, West Hill"
M1G,36,Scarborough,Woburn
M1H,45,Scarborough,Cedarbrae
...,...,...,...
M9N,98,York,Weston
M9P,107,Etobicoke,Westmount
M9R,116,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
M9V,143,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
M9W,152,Etobicoke,"Northwest, West Humber - Clairville"

In [8]:
len(wiki_df['Postal Code'].unique())

103

In [9]:
wiki_df[wiki_df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighbourhood]
Index: []

In [10]:
wiki_df.shape

(103, 4)

# Part 2

In [11]:
pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
Requirement already satisfied: future in c:\users\91830\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in c:\users\91830\anaconda3\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: requests in c:\users\91830\anaconda3\lib\site-packages (from geocoder) (2.24.0)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: click in c:\users\91830\anaconda3\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: idna<3,>=2.5 in c:\users\91830\anaconda3\lib\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\91830\anaconda3\lib\site-packages (from requests->geocoder) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91830\anaconda3\lib\site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\91830\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: decorator in c:\users\91830\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Note: you may need to restart the kernel to use updated packages.

#### Importing geocoder library

In [ ]:
import geocoder

In [13]:
url = 'http://cocl.us/Geospatial_data'

### Access URL contents from pandas using Read CSV

In [16]:
geo_df = pd.read_csv(url)
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
geo_df.set_index('Postal Code',inplace=True)
geo_df.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

### Comapre Both Frames Dtypes

In [17]:
geo_df.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [18]:
wiki_df.dtypes

index             int64
Postal Code      object
Borough          object
Neighbourhood    object
dtype: object

### Comparing Shapes of both

In [19]:
print(wiki_df.shape)
print(geo_df.shape)

(103, 4)
(103, 3)

### Joining Both the Dataframes with common column name Postal Code

In [31]:
df = wiki_df.join(geo_df,on='Postal Code')

#### Droping of Index and Level_0 columns from the Dataframe to get desired result

In [32]:
df = df.reset_index()
df.drop(['index','level_0'], axis = 'columns', inplace = True)

In [33]:
df

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [34]:
df.shape

(103, 5)